       <div id="elementProps">
        <ul>
    <li><a href="#proptable">Add Properties</a></li>
   
     </ul>
            <div id= "proptable">
                <table id="htmlgrid" class="testgrid" border="1">
                    <tr>
                        <th>Element Properties</th>
                        <th>Value</th>
                    </tr>
                    <tr id="R1">
                        <td>Name</td>
                        <td><input type="text" id="properties_ename" value="" name="properties_ename" style="border:solid;"></td>
                    </tr>

                    <tr id="R2">
                        <td>Owner</td>
                        <td><input type="text" id="properties_eowner" value="" name="properties_eowner" style="border:solid;" ></td>
                    </tr>
                    <tr id="R3">
                        <td>Predecessors</td>
                        <td><input type="text" value="" id="properties_epredecessors" name="properties_epredecessors" readonly style="border:solid;"></td>
                    </tr>
                    <tr id="R4">
                        <td>Successors</td>
                        <td><input type="text" value="" id="properties_esuccessors"name="properties_esuccessors" readonly style="border:solid;" ></td>
                    </tr>
                    <tr id="R5">
                        <td>Associated product process</td>
                        <td><input type="text" value="" id="properties_Associated_process_emodels"name="properties_Associated_process_emodels" style="border:solid;" ></td>
                    </tr>
                    <hr>
                
                </table>
                  <button type="button" id="saveElms">Save</button>
            </div>
    </div>