
       <div id="fullProps">
        <ul>
    <li><a href="#proptable">Add Properties</a></li>
    <li><a href="#desctable">Add Description</a></li>
 
  </ul>
            <div id= "proptable">
                <table id="htmlgrid" class="testgrid" border="1">
                    <tr>
                        <th>Properties</th>
                        <th>Value</th>
                    </tr>
                    <tr id="R1">
                        <td>Name</td>
                        <td><input type="text" id="properties_name" value="" name="properties_name" style="border:solid;" ></td>
                    </tr>

                    <tr id="R2">
                        <td>Owner</td>
                        <td><input type="text" id="properties_owner" value="" name="properties_owner" style="border:solid;"></td>
                    </tr>
                    <tr id="R3">
                        <td>Predecessors</td>
                        <td><input type="text" value="" id="properties_predecessors" name="properties_predecessors" style="border:solid;"></td>
                    </tr>
                    <tr id="R4">
                        <td>Successors</td>
                        <td><input type="text" value="" id="properties_successors"name="properties_successors" style="border:solid;" ></td>
                    </tr>
                    <tr id="R5">
                        <td>Associated process</td>
                        <td><input type="text" value="" id="properties_Associated_process_models"name="properties_Associated_process_models" style="border:solid;" ></td>
                    </tr>
                     <tr id="R6">
                        <td>Provider</td>
                        <td><input type="text" value="" id="overview_provider"name="overview_provider" style="border:solid;" ></td>
                    </tr>
                     <tr id="R5">
                        <td>Version</td>
                        <td><input type="text" value="" id="overview_version"name="overview_version" style="border:solid;" ></td>
                    </tr>

                    <hr>
                
                </table>
                 
            </div>
            <div id="desctable"> <textarea id="mainDesc"></textarea> 
             </hr>
            <button type="button" id="save">Save</button>
            
            </div>
             
            </div>
   